
.navOM{
  
    width: 750px;
    height:55px;
    margin-top: 40px;
    align-items: center;

    border-color:darkgrey;
   
    border-style: solid;
    
    background-color: darkgrey;
    text-align: center;
    box-shadow: 2px 0px 10px -10px ;
    

}