.tb:hover{
    color: rgb(55, 6, 253);
    border : 2px solid rgb(55, 6, 253);
   /* font-weight: 500; */
   font-style: unset;
    

border-style: double;
/* border: 500px ; */
/* border-color: black; */











}